body{
	background-color:  #9b836c ;
}


figure {
	text-align: center;
	margin-bottom: 20px;
}

#Bienvenue{
	width: 400px;
	text-align: center;
}


header {
	font-family: Trebuchet MS;
    text-align: center;
    background-color: #a833ff ;
    font-size: 40px;
}

header.pages {
    background-color: #ebb7e9 ;
    font-size: 50px;
}

figcaption{
	font-family: Arial;
    color: black;
    font-size: 18px;
    margin-top: 20px;
}


h1{
	font-family: Trebuchet MS;
    text-align: left;
    color: black;
    font-style: italic;
    font-size: 28px;
}

h2{
    font-family: Trebuchet MS;
    text-align: center;
    background-color:#ebb7e9;
    font-size: 45px;
}

ol,  li, a{
	font-family: Arial;
    color: black;
    font-size: 20px;
}

a{  
    width: 20%;
    padding: 10px;
    margin-left: 20px;
  }

.row{
    float: left;
    width: 30%;
    padding: 10px;
}
  
.mainside{
    margin-left: 300px;
}
  
figcaption, p {
    font-family: Arial;
    color: black;
    font-size: 18px;
}


.align{
    text-align: justify;
    width: 700px;
    padding-top: 500px;
    padding-left: 300px;
}

#OEdipeDieux {
	width: 280px;
	
}

#Antigone {
	width: 286px;
}

#Polyphème{
	border: 4px solid  black;
	width: 241px;
}


.niveau{
    font-family: Trebuchet MS;
    text-align: center;
    background-color:#a833ff;
    font-size: 50px;
}


table, td {
    border: 2px solid black;
    font-weight: bold;
    margin-left: 290px;
    text-align: center;
  
}
  
  
#dommage {
    width: 100px;
}
  
#bien {
    width: 150px;
}
  
#parfait{
    width: 160px;
}
  
  
#merci {
    padding-top: 200px;
}

.alignquest{
    text-align: center;
    width: 1000px;
    padding-left: 170px;
}
